**/.DS_Store
.vs/
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
Content/Collections/
Content/Developers/
Plugins/*/Binaries/
Plugins/*/Intermediate/
WindowsNoEditor/
MacNoEditor/
Android_*/
IOS/
*.sln
*.VC.db
*.xcworkspace
/.idea
/TPSProject.sln.DotSettings.user
/Plugins/Developer/RiderLink
/Benchmark
/Plugins/UnLua/Source/UnLuaDefaultParamCollectorUbtPlugin/obj
